parameters:
	ignoreErrors:
		-
			message: "#^Function noAdvice\\(\\) has no return type specified\\.$#"
			count: 1
			path: ifCode.php

		-
			message: "#^Function noAdvice\\(\\) has parameter \\$garbage with no type specified\\.$#"
			count: 1
			path: ifCode.php

		-
			message: "#^Function noAdvice2\\(\\) has no return type specified\\.$#"
			count: 1
			path: ifCode.php

		-
			message: "#^Function noAdvice2\\(\\) has parameter \\$garbage with no type specified\\.$#"
			count: 1
			path: ifCode.php

		-
			message: "#^Function weatherAdvisory\\(\\) has no return type specified\\.$#"
			count: 1
			path: ifCode.php

		-
			message: "#^Function weatherAdvisory\\(\\) has parameter \\$temperature with no type specified\\.$#"
			count: 1
			path: ifCode.php
