parameters:
    customRulesetUsed: true
    parallel:
        processTimeout: 1000.0
    

    excludePaths:
        analyse:
            - */Test/*
            - */TestFramework/*
            - */dev/*

services:
    # -
    #     class: App\Collectors\ClassDependencyCollector
    #     tags:
    #         - phpstan.collector
    -
        class: App\Collectors\MethodCallCollector
        tags:
            - phpstan.collector
    -
        class: App\Collectors\FunctionCallCollector
        tags:
            - phpstan.collector
    -
        class: App\Collectors\StaticMethodCallCollector
        tags:
            - phpstan.collector
    -
        class: App\Collectors\InterfaceCollector
        tags:
            - phpstan.collector
        
# rules :
    # - App\Rules\CustomMethodsReturnTypeRule
    # - App\Rules\CustomTypesAssignedToPropertiesRule
    # - PHPStan\Rules\Functions\ArrowFunctionReturnTypeRule
    # - PHPStan\Rules\Functions\ClosureReturnTypeRule
    # - PHPStan\Rules\Functions\ReturnTypeRule
    # - PHPStan\Rules\Methods\ReturnTypeRule
    # - PHPStan\Rules\Properties\TypesAssignedToPropertiesRule

# includes:
#     - phpstan-baseline.neon