<?xml version="1.0"?>
<!--
/**
 * This has a Testing Copyright :)
 * Pass the test case to make it yours! 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="StockInterface" type="StockClass" />
    <preference for="OrderInterface" type="OrderClass" />
    <preference for="ShippingInterface" type="ShippingClass" />
    <preference for="SpecialInterface" type="SpecialClass" />
</config>